* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $text-font;
    max-width: 100%;
}

html, body {
    width: 100vw;
    height: 100vh;
    scroll-behavior: smooth;
}


//---Reset Fonts's size-------------------------------
h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.6rem;
}

h3 {
    font-size: 1rem;
}

p,
a,
em, 
button,
label,
input,
textarea,
i {
   font-size: .8rem; 
}