* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $text-font;
    max-width: 100%;
}

html, body {
    width: 100vw;
    height: 100vh;
    scroll-behavior: smooth;
}


//---Reset Fonts's size-------------------------------
h1 {
    font-size: $hero-font-size-big;
}

h2 {
    font-size: $title-font-size-big;
}

h3, 
h4 {
    font-size: $sub-title-font-size-big;
}

p,
a,
em, 
button,
label,
input,
textarea,
i {
   font-size: $parag-font-size-big; 
}