//---Variables-------------------------------------
$main-color: #1a1a1a;
$details-color: #c73636;

$section-about-color: #fdfdfd;
$section-testimonials-color: lighten($main-color, 40);
$section-product-color: #fdfdfd;
$section-contact-color: #eeeeee;

$text-color: #fff;
$text-font: 'Open Sans', sans-serif;

$time-trasition: .3s;